<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    {% if not verified %}
        <p>Verification Failed. Please Try again.</p>

    {% else %}
        <p>Verified.</p>
    {% endif %}

    {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    <hr>
    <p>Please scan QR Code below: </p>

    <div id="qrcode"></div>

</body>

<script>console.log('Adding js files;')</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/qrcode.min.js') }}"></script>
<script type="text/javascript">
        $(document).ready(function(){
                var url = document.location.href+"sqrl/?key={{nonce}}"
                console.log('Creating QR Code: "'+url+'"');
                new QRCode(document.getElementById("qrcode"), url);
            }
        )
</script>
</html>